/* Consolidated General Styles */

   html, body {
      height: 100%;
    }

       body { 
    background-color: rgb(255, 255, 255);
    }



.des, .note, .about{
  font-family: "Diodrum W03 Regular";
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: 2%;
  width: 90%;
}

.des, .note, .about{
 font-size: clamp(9px, 0.77rem, 20px);
}

.item1 a:hover, .item12 a:hover, .item3 a:hover {
  color: rgb(172, 107, 107);
  text-decoration: none;
}



footer, .footer {
    color: rgb(0, 0, 0);
    font-family: "Diodrum W03 Regular";
  font-size: clamp(8px, 1vw + 0.5rem, 10px);
  text-align: center;
  padding: 3rem 0 ;
   margin-top: auto;  
   text-decoration: none;
}


.grid-container3 {
  flex: 1; /* Fills all available vertical space */
  display: grid;
  grid-template-areas: 
    'item1'
    'item12'
    'item3'
    'item4'
    'item5'
    'item6'
    'item7'
    'item8'
    'item9';
  min-height: 90vh;  
}


  .grid-container3 > div {
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 50px;
  }


  
  .item1 { grid-area: item1; }
  .item12 { grid-area: item12; }
  .item3 { grid-area: item3; }
  .item4 { grid-area: item4; }
  .item5 { grid-area: item5; }
  .item6 { grid-area: item6; }
  .item7 { grid-area: item7; }
  .item8 { grid-area: item8; }
  
/* Media Queries */


@media (min-width: 770px) {
  .grid-container3 { 
    padding-top: 10%;
  }
}

@media (max-width: 770px) {
  .grid-container3 { 
    padding-left: 7%;
  }
}




/* Fade-in Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.grid-container3 .item1,
.grid-container3 .item12,
.grid-container3 .item3,
.grid-container3 .item4,
.grid-container3 .item5,
.grid-container3 .item6,
.grid-container3 .item7,
.grid-container3 .item8{
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.grid-container3 .item1 { animation-delay: 0s; }
.grid-container3 .item12 { animation-delay: 0.5s; }
.grid-container3 .item3 { animation-delay: 1s; }
.grid-container3 .item4 { animation-delay: 1.5s; }
.grid-container3 .item5 { animation-delay: 2s; }
.grid-container3 .item6 { animation-delay: 2.5s; }
.grid-container3 .item7 { animation-delay: 3s; }
.grid-container3 .item8 { animation-delay: 3.5s; }

#loadOverlay{display: none;}
