
  html, body {
      height: 100%;
      margin: 0;
    }

    

.grid-container2 {
    display: grid;
    grid-template-areas:
    'item1'
    'item2'
    'item3'
    'item6'
    'item7'
    'item8'
    'item9'
    'item10'
    'item11'
    'item12';  
    background-color: rgb(255, 255, 255);
    padding: 5% 15% 0% 15% ;
      grid-gap: 30px;
      margin: 0 auto;
       max-width: 1200px; 
  }

  .item2 {
  margin-top: -30px; /* cancels the grid gap above item2 */
}

  
  .grid-container2 > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
 
  }

  .item1 { grid-area: item1; }
  .item2 { grid-area: item2; } 
  .item3 { grid-area: item3; }
  .item6 { grid-area: item6; }
  .item7 { grid-area: item7; }
  .item8 { grid-area: item8; }
  .item9 { grid-area: item9; }
  .item10 { grid-area: item10; }
  .item11 { grid-area: item11; }
   .item12 { grid-area: item12; }
  

 

.carousel-control-next {
  width: 10px; /* Change width */
  border-radius: 50%; /* Make it round */
  display: flex;
  
}

.carousel-control-next-icon {
  filter: invert(1); /* Change icon color to white */
  width: 5px; /* Change icon width */
  height: 5px; /* Change icon height */
  


}


/* Adjust the positioning if needed */
.carousel-control-next:hover {
background-color: none;
color: #000;
}

.carousel-control-prev {
  width: 20px; /* Change width */
  border-radius: 50%; /* Make it round */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #932b2b;
  background-color: aqua;
}

.carousel-control-prev-icon {
  filter: invert(1); /* Change icon color to white */
  width: 5px; /* Change icon width */
  height: 5px; /* Change icon height */

}


/* Adjust the positioning if needed */
.carousel-control-prev:hover {
background-color: none;
color: #000;
}


 .lets{
  clear: both;     
  text-align:left;
  font-size: clamp(8px, 0.7rem, 11px);
  color: #000;
  font-family: "Diodrum W03 Regular";
  padding: 0;
  width: 100%;
}



footer, .footer {
    color: #000;
    font-family: "Diodrum W03 Regular";
  font-size: clamp(8px, 1vw + 0.5rem, 10px);
  text-align: center;
  padding: 3rem 0;
   margin-top: auto;  
   text-decoration: none;
}

video, #im {
  width: 100%;        /* Video takes 80% of its container's width */
  max-width: 500px;  /* Optional: prevent it from getting too wide */
  height: auto;      /* Maintain aspect ratio */
  padding-bottom: 12px;
  margin: 0 auto;    /* Center horizontally */
  display: block;    /* Needed for horizontal centering */
  float: left;
}


#port {
  width: 80%; 
  float: right;
  padding-bottom: 10px;
}

#portb {
  width: 80%; 
  float: left;
  padding-bottom: 10px;
}

@media (min-width: 770px) {
  .grid-container2 { 
    padding-top: 10%;
  }
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.grid-container2 .item1,
.grid-container2 .item2,
.grid-container2 .item3,
.grid-container2 .item6,
.grid-container2 .item7,
.grid-container2 .item8, 
.grid-container2 .item9,
.grid-container2 .item10,
.grid-container2 .item11,
.grid-container2 .item12,
.grid-container2 .item13
{
  opacity: 0; /* Start with items hidden */
  animation: fadeIn 1s ease forwards;
}

.grid-container2 .item1 {
  animation-delay: 0s; /* No delay for the first item */
}

.grid-container2 .item2 {
  animation-delay: 0.5s; /* 1 second delay */
}

.grid-container2 .item3 {
  animation-delay: 1s; /* 2 seconds delay */
}

.grid-container2 .item6 {
  animation-delay: 1.5s; /* 3 seconds delay */
}

.grid-container2 .item7 {
  animation-delay: 2s; /* 4 seconds delay */
}

.grid-container2 .item8 {
  animation-delay: 2.5s; /* 5 seconds delay */
}

.grid-container2 .item9 {
  animation-delay: 3s; /* 5 seconds delay */
}

.grid-container2 .item10 {
  animation-delay: 3.5s; /* 5 seconds delay */
}

#loadOverlay{display: none;}

